addict==2.1.2
aniso8601==1.3.0
appdirs==1.4.3
asgiref==2.3.0
asn1crypto==0.22.0
astroid==1.6.4
async-timeout==2.0.1
attrs==17.4.0
autobahn==18.4.1
Automat==0.6.0
awscli==1.16.24
awsebcli==3.14.6
Babel==2.6.0
bcrypt==3.1.4
beautifulsoup4==4.6.0
blessed==1.15.0
boto==2.48.0
boto3==1.9.27
botocore==1.12.27
bs4==0.0.1
bson==0.5.1
cached-property==1.4.3
cement==2.8.2
certifi==2018.4.16
cffi==1.10.0
channels==2.1.5
chardet==3.0.4
chromedriver==2.24.1
click==6.7
colorama==0.3.9
conda==4.3.30
ConfigArgParse==0.12.0
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==2.0.3
daphne==2.2.2
DateTime==4.2
decorator==4.1.2
defusedxml==0.5.0
dj-config-url==0.1.1
dj-database-url==0.5.0
Django==2.0.7
django-allauth==0.35.0
django-appconf==1.0.2
django-braces==1.12.0
django-cleanup==2.1.0
django-common-helpers==0.9.1
django-coreapi==2.3.0
django-cors-headers==2.4.0
django-cron==0.5.0
django-crontab==0.7.1
django-filter==1.1.0
django-haystack==2.8.1
django-heroku==0.3.1
django-lockdown==1.5.0
django-oauth-toolkit==1.2.0
django-oauth2-provider==0.2.6.1
django-phonenumber-field==2.0.0
django-polls==0.2.1
django-rest-auth==0.9.3
django-rest-framework==0.1.0
django-rest-framework-docs==0.1.7
django-rest-framework-social-oauth2==1.1.0
django-rest-swagger==2.1.2
django-sphinxdoc==1.5.1
django-storages==1.6.6
django-user-accounts==2.0.3
djangorestframework==3.8.2
docker==3.4.1
docker-compose==1.21.2
docker-pycreds==0.3.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
dodgy==0.1.9
drf-autodocs==0.4.4
drf-base64==0.9.4
drf-yasg==1.6.1
drfdocs==0.0.11
easy-thumbnails==2.5
falcon==1.3.0
falcon-jsonify==0.1.1
falcon-multipart==0.2.0
feedparser==5.2.1
flake8==3.5.0
flake8-polyfill==1.0.2
Flask==0.12.2
Flask-RESTful==0.3.6
flex==6.12.0
fpdf==1.7.2
ftb.service.bouncer==0.0.0
ftb.service.messenger==0.0.0
future==0.16.0
geoip2==2.7.0
gi==1.2
gunicorn==19.7.1
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
inflection==0.3.1
isort==4.3.4
itsdangerous==0.24
itypes==1.1.0
Jinja2==2.10
jmespath==0.9.3
jsonpickle==0.9.6
jsonpointer==2.0
jsonschema==2.6.0
lazy-object-proxy==1.3.1
lxml==4.2.1
Markdown==2.6.11
MarkupSafe==1.0
maxminddb==1.3.0
mccabe==0.6.1
mps-youtube==0.2.8
mysqlclient==1.3.12
numpy==1.13.3
oauthlib==2.1.0
olefile==0.44
openapi-codec==1.3.2
pafy==0.5.4
pandas==0.23.4
passlib==1.7.1
pathspec==0.5.5
pbr==3.1.1
pep8-naming==0.7.0
phonenumbers==8.9.2
phonenumberslite==8.9.10
Pillow==5.2.0
pipreqs==0.4.9
prospector==0.12.7
psycopg2==2.7.3.2
psycopg2-binary==2.7.5
pyactiveresource==2.1.2
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycodestyle==2.0.0
pycosat==0.6.2
pycparser==2.18
pydocstyle==2.1.1
pyflakes==2.0.0
Pygments==2.2.0
PyHamcrest==1.9.0
PyJWT==1.6.4
pylint==1.9.1
pylint-celery==0.3
pylint-common==0.2.5
pylint-django==0.11.1
pylint-flask==0.5
pylint-plugin-utils==0.2.6
PyMySQL==0.8.0
pyOpenSSL==17.2.0
PyPDF2==1.26.0
PySocks==1.6.8
python-dateutil==2.7.3
python-mimeparse==1.6.0
python3-openid==3.1.0
pytz==2018.5
PyYAML==3.13
ratelimiter==1.2.0.post0
reportlab==3.4.0
requests==2.18.4
requests-oauthlib==0.8.0
requirements-detector==0.5.2
rfc3987==1.3.7
rsa==3.4.2
ruamel-yaml==0.11.14
ruamel.yaml==0.15.37
s3transfer==0.1.13
schedule==0.5.0
selenium==3.7.0
semantic-version==2.5.0
service-identity==17.0.0
setoptconf==0.2.0
ShopifyAPI==3.1.0
short-url==1.2.2
shortuuid==0.5.0
simplejson==3.13.2
six==1.11.0
snakemake==4.5.1
snowballstemmer==1.2.1
social-auth-app-django==2.1.0
social-auth-core==1.7.0
South==1.0.2
SQLAlchemy==1.1.15
stevedore==1.28.0
strict-rfc3339==0.7
tabulate==0.7.5
termcolor==1.1.0
texttable==0.9.1
titlecase==0.12.0
twilio==6.15.1
Twisted==18.9.0
txaio==2.10.0
uritemplate==3.0.0
urllib3==1.22
uuid==1.30
validate-email==1.3
validators==0.12.0
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.8.2
waitress==1.1.0
wcwidth==0.1.7
websocket-client==0.48.0
Werkzeug==0.12.2
whitenoise==3.3.1
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.0.2
xmldict==0.4.1
xmltodict==0.11.0
yarg==0.1.9
youtube-dl==2018.2.11
zope.interface==4.4.3
